* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.buttons-list {
    list-style: none;
}


.buttons-list li {
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.buttons-list li button {
    font-size: 16px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    padding: 10px 20px;
    border-radius: 50%;
}

.buttons-list li button:hover {
    background-color: #f27a1a;
    color: white;
}

.inline-block {
    display: inline-block;
}

#active button {
    background-color: #f27a1a;
    color: white;
    border-bottom: 5px solid black;
}

.acilir-menu-container {
    position: absolute;
    max-height: 0;
    overflow: hidden;

}

.acilir-menu-butonu {
    padding: 10px 40px;
    border-bottom: 1px solid black;
    text-align: center;
    transition: all .5s;
}

.acilir-menu-butonu i {
    margin-right: 10px;
}

.acilir-menu-hoverı:hover .acilir-menu-container {
    max-height: 100%;
    border: 1px solid black;
    transition: all 1.5s;
}

.acilir-menu-butonu:hover {
    background-color: gray;
}

.acilir-menu-butonu:hover a {
    color: white !important;
}