* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.ana-kisim {
    margin-top: 20px;
}


.hamburger-butonu {
    border: none;
    background: none;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    padding-left: 20px;
}

.etiketler {
    border-top: 1px solid rgb(184, 184, 184);
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 10px;
    position: sticky;
    top: 0;
}

.youtube-logo {
    width: 125px;
}

.youtube-logo-kapsayıcı {
    display: inline-block;
}

.arama-kismi {
    display: inline-block;
    font-size: 0;
}

.arama-input {
    width: 550px;
    height: 30px;
    margin-left: 200px;


}

.arama-label {
    border: 1px solid gray;
    padding: 7px 23px;
    font-size: 15px;
    cursor: pointer;
}

.mikrofon-kismi {
    display: inline-block;

    margin-left: 20px;
}

.mikrofon-butonu {
    font-size: 22px;
    border: none;
    background: none;
    cursor: pointer;
}

.kamera-kismi {
    display: inline-block;

    margin-left: 170px;
}

.kamera-butonu {
    font-size: 22px;
    border: none;
    background: none;
    cursor: pointer;
}

.kucuk-menu-kismi {
    display: inline-block;

    margin-left: 20px;
}

.kucuk-menu-butonu {
    font-size: 22px;
    border: none;
    background: none;
    cursor: pointer;
}

.alarm-kismi {
    display: inline-block;

    margin-left: 20px;
}

.alarm-butonu {
    font-size: 22px;
    border: none;
    background: none;
    cursor: pointer;
}

.profil-kismi {
    display: inline-block;

    margin-left: 20px;
}

.profil-butonu {
    font-size: 22px;
    border: none;
    background: none;
    cursor: pointer;
}

.yan-menu {
    display: inline-block;
    width: 15%;
    height: 750px;
}

.yan-buton-kapsayıcı {}

.yan-buton {
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    text-align: start;
    border: none;
    cursor: pointer;
    background-color: white;
}

.yan-buton:hover {
    background-color: rgb(233, 233, 233);
}


.yan-buton-yazi {
    display: inline-block;
    margin-left: 25px;
    font-size: 16px;
}

.yan-buton-ikonu {}

.abonelik-baslik {
    margin-top: 10px;
    margin-left: 10px;
}

.sag-taraf {
    display: inline-block;
    width: 84%;
    height: 750px;
    position: absolute;
}

.etiket-butonu {
    padding: 8px 15px;
    border-radius: 50999999px;
    border: none;
    cursor: pointer;
}

.etiket-butonu:hover {
    background-color: rgb(214, 214, 214);
}

.etiket {
    display: inline-block;
    margin-right: 10px;
}

.etiket-butonu.active {
    background-color: black;
    color: white;
}

.videolar {
    margin-top: 25px;
}

.video-resmi {
    width: 275px;

}

.alt-kısım {
    position: relative;
}


.avatar-resmi-kapsayıcı {
    font-size: 30px;
    display: inline-block;
    position: absolute;
    margin-top: 10px;

}

.avatar-resmi-kapsayıcı i {}

.video-sag-taraf {
    display: inline-block;
    margin-left: 40px;
}

.video-basligi {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 13px;
}

.kanal {
    font-size: 14px;
    color: gray;
}

.görüntülenme-ve-saat {
    font-size: 14px;
    color: gray;
}

.video-kartı {
    position: relative;
    left: 10px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.whatsapp-buton {
    position: fixed;
    font-size: 50px;
    right: 30px;
    bottom: 30px;
}

.süre-göstergesi {
    color: white;
    background-color: black;
    padding: 5px;
    display: inline-block;
    font-size: 10px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.video-resmi-kapsayıcı {
    position: relative;
    display: inline-block;
}